.calculator{
    padding: 25px 10px 10px 15px;
    border-radius: 15px;
    height: 500px;
    width: 400px;
    margin: auto;
    background-color: #b1b3b3de;
    box-shadow:rgb(0, 0, 0)
}

.display-box{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    background-color: #807c7c61;
    border: solid rgb(255, 0, 119) 0.5px;
    color: black;
    border-radius: 9px;
    width: 129%;
    height: 80%;
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: large;
    background-color: #a7aeafd1;
    color: rgb(0, 0, 0);
    border: solid rgb(254, 13, 97) 1px;
    width: 80px;
    border-radius: 9px;
    height: 50%;
}

#equal{
    background-color: #2057fee2;
    color: white;
    width: 196%;
    height: 50%;
}
#clear{
    background-color: rgba(232, 151, 151, 0.89);
    color: rgb(249, 0, 0);
} 
#multiple{
    background-color: rgba(160, 160, 255, 0.668);
    color: rgb(0, 0, 250);

}
#division{
    background-color: rgba(160, 160, 255, 0.668);
    color: rgb(0, 0, 250);

}   
#subtract{
    background-color: rgba(160, 160, 255, 0.668);
    color: rgb(0, 0, 250);

}
#add{
    background-color: rgba(160, 160, 255, 0.668);
    color: rgb(0, 0, 250);
}
#dot{
    background-color: rgba(160, 160, 255, 0.668);
    color: rgb(0, 0, 250);
}
#arrow{
    background-color: rgba(244, 173, 115, 0.514);
    color: rgba(105, 39, 0, 0.71);
}
